<div class ="wrapper">
  <% if user_signed_in? %>
    <div class="create-btn">
      <%= link_to "クイズを作る", new_quiz_path %>
    </div>
  <% end %>
  <% if @quizzes != [] %>
    <div class="quiz-index">
      <% @quizzes.each do |quiz| %>
        <div class="quiz">
          <div class="quiz-header">
            <div class="index-quiz-title">
              <%= quiz.title %>
            </div>
            <div class="quiz-user">
              <%= link_to "作成者: #{quiz.user.nickname}", user_path(quiz.user) %>
            </div>
          </div>
          <div class="index-quiz-explanation">
            <%= quiz.explanation %>
          </div>
          <div class="quiz-links">
            <div class="play-quiz">
              <%= link_to "Play", quiz_path(quiz) %>
            </div>
            <% if user_signed_in? && quiz.user == current_user %>
              <div class="edit-quiz">
                <%= link_to 'クイズの編集', edit_quiz_path(quiz) %>
                <%= link_to 'クイズの削除', quiz_path(quiz), method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>