<div class="wrapper">
  <div class="quiz-wrapper">
    <div class="quiz-title">
      <%= @quiz.title %>
    </div>
    <div class="quiz-explanation">
      <%= @quiz.explanation %>
    </div>
    <div class="quiz-main">
      <input id="json_quiz" type="hidden" value=<%= @json_quiz %>>
      <div class="question-area">
        <div class="question" id="question"></div>
      </div>
      <div class="answer-area">
        <input id="answer" autofocus=true >
      </div>
    </div>
    <div class="top-link">
      <%= link_to 'トップページに戻る', root_path %>
    </div>
  </div>
  <div class="comment-wrapper">
    <% if user_signed_in? %>
      <%= form_with model: [@quiz, @comment], class: "comment-form", local: true do |f| %>
        <div class="comment-field">
          <div class="error-message">
            <%= render "shared/error_messages", resource: f.object %>
          </div>
          <%= f.label :content, "コメント" %><br>
          <%= f.text_area :content %>
        </div>
        <div class="comment-submit">
          <%= f.submit "コメント記入" %>
        </div>
      <% end %>
    <% end %>
    <% if @quiz.comments != [] %>
      <div class="comment-list">
        <% @quiz.comments.each do |comment| %>
          <% if comment.content != "" %>
            <div class="comment">
              <%= link_to comment.user.nickname, user_path(comment.user) %>
              <div class="comment-content">
                <%= comment.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>