<div class="wrapper">
  <div class="quiz-wrapper">
    <input id="json_quiz" type="hidden" value=<%= @json_quiz %>>
    <div class="quiz-title">
      <%= @quiz.title %>
    </div>
    <div class="quiz-explanation">
      <%= @quiz.explanation %>
    </div>
    <div class="quiz-main">
      <div class="question-area" id="question_area">
      </div>
      <div class="answer-area" id="answer_area">
        <input id="answer">
      </div>
    </div>
    <div class="top-link">
      <%= link_to 'トップページに戻る', root_path %>
    </div>
  </div>
  <div class="comment-wrapper">
    <% if user_signed_in? %>
      <input id="json_info" type="hidden" value=<%= @json_info %>>
      <%= form_with model: [@quiz, @comment], class: "comment-form", local: true, id: "new_comment" do |f| %>
        <div class="comment-field">
          <div class="error-message">
            <%= render "shared/error_messages", resource: f.object %>
          </div>
          <%= f.label :content, "コメント" %><br>
          <%= f.text_area :content %>
        </div>
        <div class="comment-submit">
          <%= f.submit "コメント記入", id: "submit_btn" %>
        </div>
      <% end %>
    <% end %>  
    <div class="comment-list" id="comment_list">
      <% if @comments != [] %>
        <% @comments.each do |comment| %>
          <% if comment.content != "" %>
            <div class="comment">
              <%= user_image_link(comment.user, 17) %>
              <%= link_to comment.user.nickname, user_path(comment.user) %>
              <div class="comment-content">
                <%= comment.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>   
  </div>
</div>