<div class="wrapper">
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <div class="form">
      <div class="error-message">
        <%= render "shared/error_messages", resource: resource %>
      </div>
      <p class="title">新規登録</p>
      <div class="user-input">
        <%= f.label :nickname, "ニックネーム", class: "user-label" %>
        <%= f.text_field :nickname, class: "user-field", placeholder:"例) クイズ一郎", autofocus: true %>
      </div>
      <div class="user-input">
        <%= f.label :email, "メールアドレス", class: "user-label" %>
        <%= f.email_field :email, class: "user-field", placeholder:"PC・携帯どちらでも可"%>
      </div>
      <div class="user-input">
        <%= f.label :password, "パスワード", class: "user-label" %>
        <%= f.password_field :password, class: "user-field", placeholder:"6文字以上" %>
      </div>
      <div class="user-input">
        <%= f.label :password_confirmation, "パスワード(確認用)", class: "user-label" %>
        <%= f.password_field :password_confirmation, class: "user-field", placeholder:"もう一度入力" %>
      </div>
      <div class="user-input">
        <%= f.label :image, "ユーザーアイコン", class: "user-label" %>
        <%= f.file_field :image %>
      </div>
      <div class="submit-btn">
        <%= f.submit "登録" %>
      </div>
    </div>
  <% end %>
</div>
