<div class ="wrapper">
  <div class="user-page-title">
  <h1><%= user_image_link(@user, 40) %> <%= "#{@user.nickname}さんのページ" %></h1>
  <% if @user = current_user %>
    <%= link_to "ユーザー情報を編集する", edit_user_path, class: "user-link" %>
  <% end %>
  </div>
  <% if @quizzes != [] %>
    <div class="quiz-index">
      <% @quizzes.each do |quiz| %>
        <div class="quiz">
          <div class="quiz-header">
            <div class="index-quiz-title">
              <%= quiz.title %>
            </div>
          </div>
          <div class="index-quiz-explanation">
            <%= quiz.explanation %>
          </div>
          <div class="quiz-links">
            <div class="play-quiz">
              <%= link_to "Play", quiz_path(quiz) %>
            </div>
            <% if user_signed_in? && @user == current_user %>
              <div class="edit-quiz">
                <%= link_to 'クイズを編集する', edit_quiz_path(quiz) %>
                <%= link_to 'クイズを削除する', quiz_path(quiz), method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>