<div class="wrapper">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="form">
      <div class="error-message">
        <%= flash[:alert] %>
      </div>
      <p class="title">ログイン</p>
      <div class="user-input">
        <%= f.label :email, "メールアドレス", class: "user-label", autofocus: true %>
        <%= f.email_field :email,class: "user-field" %>
      </div>
      <div class="user-input">
        <%= f.label :password, "パスワード", class: "user-label" %>
        <%= f.password_field :password, class: "user-field" %>
      </div>
      <div class="submit-btn">
        <%= f.submit "ログイン" %>
      </div>
    </div>
  <% end %>
</div>
